<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--在配置选项中加入log4net的引用-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <logger name="modifyLogger">
      <level value="ALL" />
      <appender-ref ref="modifyLogFile" />
    </logger>

    <!--用于记录额外的一些重要记录,比如关键参数修改记录-->
    <appender  name="modifyLogFile" type="log4net.Appender.RollingFileAppender,log4net" >
      <!--日志路径-->
      <param name= "File" value= "log/modify/"/>
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--log保留天数,只有当日志名称都一样的才一样,日志名称为日期的时候,此处配置失效,无法使用-->
      <param name= "MaxSizeRollBackups" value= "10"/>
      <!--日志文件名是否是固定不变的-->
      <param name= "StaticLogFileName" value= "false"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!-- RollingStyle Composite 综合  Size 按大小  Date 按时间 -->
      <param name= "RollingStyle" value= "Composite"/>
      <!--不要使用小数,否则会一直写入当前日志-->
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="&#xD;&#xA;----------------------application startup--------------------------&#xD;&#xA;" />
        <param name="Footer" value="&#xD;&#xA; ----------------------application shutdown--------------------------&#xD;&#xA;" />
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} --%-5p-- %m%n" />
      </layout>
    </appender>

    <logger name="logLogger">
      <level value="ALL" />
      <appender-ref ref="LogFile" />
    </logger>
    
    <appender  name="LogFile" type="log4net.Appender.RollingFileAppender,log4net" >
      <!--日志路径-->
      <param name= "File" value= "log/"/>
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--log保留天数,只有当日志名称都一样的才一样,日志名称为日期的时候,失效-->
      <param name= "MaxSizeRollBackups" value= "10"/>
      <!--日志文件名是否是固定不变的-->
      <param name= "StaticLogFileName" value= "false"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!-- RollingStyle Composite 综合  Size 按大小  Date 按时间 -->
      <param name= "RollingStyle" value= "Composite"/>
      <!--不要使用小数,否则会一直写入当前日志-->
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="&#xD;&#xA;----------------------application startup--------------------------&#xD;&#xA;" />
        <param name="Footer" value="&#xD;&#xA; ----------------------application shutdown--------------------------&#xD;&#xA;" />
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} --%-5p-- %m%n" />
      </layout>
    </appender>
    
    <appender>
      <!--一个配置文件可以有很多appender,一个appender节就相当于一个日志输出介质或方法。-->
    </appender>
    <logger name="logApp">
      <!--定义logger对象的名字为logApp,以方便在代码中使用logger-->
      <!--配置项可以不配置-->
      <level value="ALL" />
      <!--定义输出的信息等级为所有其中包括Fatal.Error.Warn.Info.Debug-->
    </logger>
    <root>
    </root>
  </log4net>
</configuration>
<!--

vb.net是在AssemblyInfo.vb(ide上看不到,需要在文件夹搜索到)上添加
<Assembly: log4net.Config.XmlConfigurator(ConfigFile:="log/log4net.config", Watch:=True)> 
-->