<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes"/>
      <!--将插件目录添加到程序集的绑定中,否则反序列化会找不到程序集(深度复制时候,虽然已经加载了程序集,还是需要此处设置了才能反序列化成功 )-->
      <probing privatePath="Plugins;Camera;dll"/>
    </assemblyBinding>
  </runtime>
</configuration>
